<div class="publication-card">
    <p class="userPseudo">Publié par: <strong>{{ userPseudo | titlecase}}</strong></p>
    <h2 class="titre">{{ publication.title | titlecase }}</h2>
    <p class="date">Mis en ligne <strong>{{ publication.createdDate | date: 'à HH:mm, le d MMM YYYY' }}</strong></p>
    <div class="image">
        <img [src]="publication.imageUrl" [alt]="publication.title" class="imagePublication">
    </div>
    <p class="description">{{ publication.description }}</p>
    <p class="boutons">
        <img src="../../../assets/img/fav-icon_B&W.png" alt="logo de groupomania" class="logo">
        <button (click)="onViewPublication(publication._id)" class="detail">Détails</button>
    </p>
</div>