header {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .navigation {
        font-size: 22px;
        padding-top: 10px;
        position: relative;

        nav {
            margin: 0 0 5px 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            a {
                margin: 0;
                padding: 2px 5px;
                border-radius: 10px 10px;
                text-decoration: none;
                background-color: #FFD7D7;
                color: #4E5166;
            }

            #deconnexion {
                position: absolute;
                right: 5px;
                top: 10px;
            }

            .hover,
            .focus {
                color: #FD2D01;
            }
        }

        button {
            padding: 2px 5px;
            border-radius: 10px 10px;
            margin: 5px 0 0 0;
            border: 0;
            background-color: #FFD7D7;
            color: #4E5166;
            font-size: 22px;
        }

        &:hover,
        &:focus {
            color: #FD2D01;
        }
    }
}

@media screen and (min-width:375px) {}

@media screen and (min-width:425px) {}

@media screen and (min-width:768px) {

    header {

        h1 {
            width: 80%;

            img {
                border-bottom-left-radius: 3rem;
                border-bottom-right-radius: 3rem;
            }
        }

        .navigation {
            margin-top: 25px;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: baseline;
            width: 100%;

            nav {
                margin: 0;
                width: 50%;
            }

            button {
                margin: 0;
            }
        }
    }
}

@media screen and (min-width:1024px) {

    header {
        text-align: center;

        .navigation {

            margin-top: 100px;

            nav {
                a {
                    margin: 0 10px;
                    color: #FFD7D7;
                    text-decoration: none;

                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1440px) {

    header {

        h1 {
            width: 60%;
        }
        
        .navigation {
            font-size: 32px;
        }
    }
}