<div class="publication-card" *ngIf="publication$ | async as Publication">
    <p class="userPseudo">{{ publication.author?.userPseudo }}</p>
    <h2>{{ publication.title | titlecase }}</h2>
    <ul class="liens">
        <li id="back">            
            <button (click)="onBack()"><i class="fa-solid fa-circle-arrow-left"></i> Back</button>
        </li>
        <li id="modifier">            
            <button (click)="onModify()" *ngIf="userId === publication.userId || isAdmin" ><i class="fa-solid fa-pen-to-square"></i> Modifier </button>
        </li>
        <li id="supprimer">           
            <button (click)="onDelete()" *ngIf="userId === publication.userId || isAdmin" ><i class="fa-solid fa-trash-can"></i>Supprimer </button>
        </li>
    </ul>
    <p id="date">Mis en ligne {{ publication.createdDate | date: 'à HH:mm, le d MMM YYYY' }}</p>
    <div id="image">
        <img [src]="publication.imageUrl" [alt]="publication.title">
    </div>
    <p id="description">{{ publication.description }} </p>
    <p id="like">
        <button (click)="onLike()"><i class="fa-solid fa-thumbs-up"></i> {{ publication.likes }}</button>
    </p>
</div>