main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    app-single-publication {
        box-shadow: 3px 3px 10px silver;
        width: 90%;
        margin: 10px 0;
        background-color: #FFD7D7;
        border-radius: 20px;

        div {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                margin-top: 0;
                color: #FD2D01;
            }
        }
    }
}

@media screen and (min-width:375px) {}

@media screen and (min-width:425px) {}

@media screen and (min-width:768px) {}

@media screen and (min-width:1024px) {

    main {
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: baseline;

        app-single-publication {
            width: 45%;
        }
    }
}

@media screen and (min-width:1440px) {

    app-single-publication {
        width: 30%;
    }
}

@media screen and (min-width:2560px) {}